<header class="header">
  <div class="header-top">
    <div class="logo-container">
      <button mat-icon-button class="menu-toggle" *ngIf="isHandset$ | async" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="logo" routerLink="/">Smart</a>
    </div>
    <div class="header-actions">
      <div class="language-selector">
        <a href="#" class="lang-link" [class.active]="true">FR</a>
        <span class="divider">|</span>
        <a href="#" class="lang-link">EN</a>
      </div>
    </div>
  </div>
  
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-item" *ngFor="let item of navItems">
        <div class="nav-link-container">
          <a class="nav-link" [routerLink]="item.route" routerLinkActive="active" (mouseenter)="openSubmenu(item)" (click)="onNavItemClick(item)">
            {{item.name}}
            <mat-icon *ngIf="item.submenu && item.submenu.length > 0" class="dropdown-icon">
              keyboard_arrow_down
            </mat-icon>
          </a>
          
          <div class="dropdown-menu" *ngIf="item.submenu && item.submenu.length > 0 && item.showSubmenu" (mouseleave)="closeSubmenu(item)">
            <a *ngFor="let submenu of item.submenu" 
               class="dropdown-item" 
               [routerLink]="submenu.route"
               routerLinkActive="active-submenu">
              {{submenu.name}}
            </a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>