// Utilisez des chemins relatifs depuis la racine du projet
@import '../assets/styles/variables';
@import '../assets/styles/fonts';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: black;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  padding: $spacing-md;
  
  @media (max-width: $breakpoint-sm) {
    padding: $spacing-sm;
  }
}