<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="smart-logo">
      <span class="word-smart">Smart</span>
      <!--<img class="word-nat" url="assets/images/Logo_NaTran.svg.png"/></span>
      <div class="tagline">
        La transparence au quotidien
      </div>-->
    </div>
  </div>
  
  <mat-divider></mat-divider>
  
  <div class="sidebar-nav">
    <div *ngFor="let item of sidebarItems" class="nav-item-container">
      <div class="nav-item" 
           [class.active]="item.route === activeRoute || isSubmenuActive(item)"
           (click)="toggleSubmenu(item)">
        <div class="nav-item-content">
          <mat-icon class="nav-icon">{{item.icon}}</mat-icon>
          <span class="nav-text">{{item.name}}</span>
        </div>
        <mat-icon class="expand-icon" *ngIf="item.submenu && item.submenu.length > 0">
          {{item.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
        </mat-icon>
      </div>
      
      <div class="submenu" *ngIf="item.submenu && item.submenu.length > 0 && item.expanded">
        <a *ngFor="let submenu of item.submenu" 
           class="submenu-item" 
           [class.active]="submenu.route === activeRoute"
           [routerLink]="submenu.route" 
           routerLinkActive="active-submenu">
          {{submenu.name}}
        </a>
      </div>
    </div>
  </div>
  
  <div class="sidebar-footer">
    <div class="language-selector">
      <a href="#" class="lang-link" [class.active]="currentLang === 'fr'" (click)="changeLanguage('fr'); $event.preventDefault()">
        <img src="assets/images/flag-fr.svg" class="flag-icon" alt="Français">
        <span>FR</span>
      </a>
      
      <a href="#" class="lang-link" [class.active]="currentLang === 'en'" (click)="changeLanguage('en'); $event.preventDefault()">
        <img src="assets/images/flag-en.svg" class="flag-icon" alt="English">
        <span>EN</span>
      </a>
    </div>
  </div>
</div>